* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.section {
  /* background-color: red; */
}
.container {
  /* background-color: green; */
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}
.wrapper {
  /* background-color: blue; */
  padding-block: 64px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding-block: 12px;
}

.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: first baseline;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
}

.nav__menu,
.nav__logo {
  /* color: blue; */
}

.nav .container {
  /* background-color: black; */
}

.button {
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
}
